@page "/SubRegion"
@inherits SimplePage<SubRegion>
@inject SubRegionService service
<table style="width:90%">
    <tr>
        <td>
            <label>دین</label>
        </td>
        <td>
            <ComboBox @bind-Value="SearchData.RegionId" TEntity="SubRegion" TValue="int?" DisplayTextExpression="t => t.Title" OrderByExpression="t => t.Title" />
        </td>
        <td>
            <label>شهر</label>
        </td>
        <td>
            <StringTextBox @bind-Value="SearchData.Title" Search />
        </td>
    </tr>
</table>
<Grid @bind-Data="GridData" TEntity="SubRegion" Search="SearchData" Service="service" TableHeight="500" Title="شهر" WindowStyle="width:500px">
    <Columns>
        <GridColumn TEntity="SubRegion" Field="t => t.Region.Title" Title="دین" />
        <GridColumn TEntity="SubRegion" Field="t => t.Title" />
        <GridCommandColumns TEntity="SubRegion" />
    </Columns>
    <EditFormTemplate>
        <table style="width:90%">
            <tr>
                <td>
                    <label>دین</label>
                </td>
                <td>
                    <ComboBox @bind-Value="GridData.RegionId" TEntity="Region" TValue="int?" DisplayTextExpression="t => t.Title" OrderByExpression="t => t.Title" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>عنوان</label>
                </td>
                <td>
                    <StringTextBox @bind-Value="GridData.Title" />
                </td>
            </tr>
            <tr>
                <FormCommandButton />
            </tr>
        </table>
    </EditFormTemplate>
</Grid>

@code {

}