@page "/Trend"
@inherits SimplePage<Trend>
@inject TrendService service
<table style="width:90%">
    <tr>
        <td>
            <label>گرایش</label>
        </td>
        <td>
            <StringTextBox @bind-Value="SearchData.Title" Search />
        </td>
    </tr>
</table>
<Grid @bind-Data="GridData" TEntity="Trend" Search="SearchData" Service="service" TableHeight="500" Title="گرایش" WindowStyle="width:500px">
    <Columns>
        <GridColumn TEntity="Trend" Field="t => t.Title" />
        <GridCommandColumns TEntity="Trend" />
    </Columns>
    <EditFormTemplate>
        <table style="width:90%">
            <tr>
                <td>
                    <label>عنوان</label>
                </td>
                <td>
                    <StringTextBox @bind-Value="GridData.Title" />
                </td>
            </tr>
            <tr>
                <FormCommandButton />
            </tr>
        </table>
    </EditFormTemplate>
</Grid>

@code {

}