@page "/FetchData"
@inherits SimplePage<Customer>
@inject CityService cityService;
@inject CustomerService customerService;
<table style="width:95%;margin:5px auto">
    <tr>
        <td>نام:</td>
        <td>
            <StringTextBox @bind-Value="SearchData.FName" Search />
        </td>
        <td>نام خانوادگی:</td>
        <td>
            <StringTextBox @bind-Value="SearchData.LName" Search />
        </td>
        <td>جنسیت</td>
        <td style="width:200px">
            <DropdownList @bind-Value="SearchData.Gender" Search />
        </td>
    </tr>
    <tr>
        <td>
            همراه
        </td>
        <td>
            <StringTextBox @bind-Value="SearchData.MobileNumber" />
        </td>
        <td>از سن:</td>
        <td>
            
        </td>
        <td>
            از سن:
        </td>
        <td>
            
        </td>
    </tr>
</table>
<Grid Service="customerService" Title="مشتری" @ref="Grid" Search="SearchData" TEntity="Customer" WindowStyle="width:600px">
    <Columns>
        <GridColumn TEntity="Customer" Field="t => t.Age.Seprate3Digit()" />
        <GridColumn TEntity="Customer" Field="t => t.FName" />
        <GridColumn TEntity="Customer" Field="t => t.LName" />
        <GridColumn TEntity="Customer" Field="t => t.Gender.FaText()" />
        <GridColumn TEntity="Customer" Field="t => t.MobileNumber.CallSeprator(' ')" Style="direction:ltr" />
        <GridColumn TEntity="Customer" Field="t => t.Area.Title" />
        <GridColumn TEntity="Customer" Field="t => t.City.Title" />
        <GridColumn TEntity="Customer">
            <CaspianForm Model="context.Data"
                         OnSubmit="(EditContext editContext) =>
                                   {
                                       var old = Grid.Service.SingleNochange(context.Data.Id);
                                       //old.Age = context.Data.Age;
                                       editContext.SetModel(old);
                                   }"
                         OnValidSubmit="(EditContext editContext) =>
                                        {
                                            var old = Grid.Service.Single(context.Data.Id);
                                            Context.SaveChanges();
                                            Grid.SelectNextRow();
                                            AgeTextBoxs[Grid.SelectedRowIndex.Value].Focus();
                                        }">
                <CaspianValidationValidator ValidatorType="typeof(CustomerService)" OnlyValidateOnSubmit />
                <button style="display:none" type="submit">ثبت</button>
                <NumericTextBox @ref="TextBox" @bind-Value="context.Data.Age" BindingType="BindingType.OnInput" />
            </CaspianForm>
        </GridColumn>
        <GridCommandColumns TEntity="Customer" />
    </Columns>
</Grid>


@code
{
    IList<NumericTextBox<int?>> AgeTextBoxs = new List<NumericTextBox<int?>>();
    NumericTextBox<int?> TextBox
    {
        set
        {
            AgeTextBoxs.Add(value);
        }
    }
}


