@namespace Caspian.UI
@typeparam TValue
@inherits BaseInput<TValue>
<div class="t-widget t-datepicker">
    <div class="t-picker-wrap">
        <input @ref="input" @attributes="attrs" class="t-input" autocomplete="off" />
        <span class="t-select" style="left:inherit">
            <i class="t-icon t-icon-calendar fa fa-calendar" title="تقویم شمسی"></i>
        </span>
    </div>
</div>
@code
{
    Dictionary<string, object> attrs;

    protected override Task OnParametersSetAsync()
    {
        attrs = new Dictionary<string, object>();
        if (Id.HasValue())
        {
            attrs.Add("id", Id.Replace('.', '_'));
            attrs.Add("name", Id.Replace('.', '_'));
        }
        return base.OnParametersSetAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        var json = this.ConvertToJson();
        var data = new JsValueSetter(this);
        if (firstRender)
            jsRuntime.InvokeAsync<object>("$.telerik.bindValue", DotNetObjectReference.Create(data), input, UiControlType.DatePicker);
        jsRuntime.InvokeVoidAsync("$.telerik.bindControl", input, json, UiControlType.DatePicker);
        Focused = false;
        return base.OnAfterRenderAsync(firstRender);
    }
}
